.navbar-collapse {
    justify-content: left;
   
}
.navbar img{
    width: 100px;
    margin-bottom: -50px;
   
}
 .navbar{
     top: 0;
     width: 100vw;
     position: fixed;
     box-shadow: #010101 0px 0px 20px 2px;
     z-index: 9999;
 }

 #navbarNav{
     text-align: center;
     
 }
 .navbar-toggler{
     margin-right: 30px;
 }

 #hoverNav:hover{
    color:#a76849;
 }



