#page-servicos {
   background:none;
   margin-bottom: 10rem;
}
main{
    padding: 50px;
    margin-top: 80px;
   margin-left:20% ;
   margin-right:20%  ;
   }

   .badge{
      font-size: 16px;
      
   }

   .list-group{
       
       font-size: 14px;
      
   }
   span{
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      
   }
   strong{
      margin-right: 1rem;
   }
  
 


   @media screen and (max-width:1000px){
    main{
       width: 95%;
       margin-top:3.5rem;
       margin-left: 1rem;
       margin-right: 0px;
       padding: 10px;
       }
   
    .badge{
       padding: 0.5rem;
        font-size: 12px;
         
     }
     .list-group{
        font-size: 12px;
    }
    .list-group-item{
     
     width: 100%;
       text-align: left;
      font-size: 14px;
    }
    .out{
      text-align: left;
       margin-left: 1rem;
       display: none;
    }
 
}
  